<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FitBud.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A7D61C51E9E8A3000614776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A7D61D91E9E8A3100614776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A7D61E41E9E8A3100614776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
